<!-- BLAKROCK CONTENT GENERATOR -->
{{- range $type, $path := .page -}}

    {{- if ne $type "pages" -}}

        {{- $list := printf "%s/archive.json" $path -}}

        {{- if templates.Exists ( printf "partials/content/%s/archive.html" $type ) -}}
            {{- $tpl := printf "content/%s/archive" $type -}}
            {{- partial $tpl (dict "base" $path "data" $list ) -}}
        {{- else -}}
            {{- partial "content/default/archive.html" (dict "base" $path "data" $list ) -}}
        {{- end -}}


        {{- $post := printf "%s/index.json" $path -}}
        {{- if templates.Exists ( printf "partials/content/%s/single.html" $type ) -}}
            {{- $tpl := printf "content/%s/single" $type -}}
            {{- partial $tpl (dict "base" $path "data" $post ) -}}
        {{- else -}}
             {{- partial "content/default/single.html" (dict "base" $path "data" $post ) -}}
        {{- end -}}

    {{- end -}}

{{- end -}}