{{- $link := partial "library/rezget" ( dict "data" .data ) -}}
{{- $slug := "_index" -}}
{{- with $link -}}
    {{- $data := unmarshal .Content -}}
    {{- range $data -}}
        {{ if ne .title "home" }}
            {{- $slug = ( urlize .title ) -}}
        {{ end }}
        {{- $getdatum := jsonify .  -}} 
        {{- $filename := printf "%s.md" $slug -}}
        {{- $resource := resources.FromString $filename $getdatum -}}
        {{- $genfiles := $resource.RelPermalink -}} 
    {{- end -}}
{{- end -}}