{{- $base := .base -}}
{{- $data := .data -}}
{{- $link := partial "library/rezget" ( dict "data" $data ) -}}


{{- with $link -}}
    
    <!-- populate post data -->
    {{- $meta := unmarshal .Content -}}
    {{- $post := jsonify $meta -}}
    {{- $name := urlize $meta.title -}}
    {{- $type := $meta.format -}}


    <!-- generate md file -->
    {{- $postname := printf "%s/_index.md" $type -}}
    {{- $postfile := resources.FromString $postname $post  -}}
    {{- $datalink := $postfile.RelPermalink -}} 

{{- end -}}